.navbar {
  background-color: black;





}
.table {
  font-size: 1.15em;
  text-align: center;
}
.table td {
  height: 70px;
  justify-content: center;
}
@media screen and (max-width:576px) {

   #auvlog {
     width: 105px;
   }
   button.navbar-toggler {
     width: 40px;
     height: 40px;
   }

}
#auvlogo {
  width: 120px;
  height: 80px;

}
.navbar-brand {
  margin-left: 50px;
  padding-top: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right,black,grey);
}

li.dropdown-item a {
  color: white;
  display: block;
}
.dropdown-item:hover {
  color: black;
}
.dropdown-item link a {
  color: black;
  margin-left: 40px;
}
.dropdown-item link {
  margin-left: 40px;
}
.dropdown-menu {
  background-color: black;
}



li.nav-item a {
  color: white;
  display: block;
  font-weight:180;
  font-size:1.35em;
  margin-left: 20px;

}
button.navbar-toggler {
  border: 2.5px solid #8B008B;
  width: 43px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
  right: 15px;
}

.insideline {

  background-color: #8B008B;
  height: 3.75px;
  margin-top: 3px;

}
.insideline.top {
  width: 28px;

}
.insideline.middle {
  width: 20px;
  position: relative;
  left: 4px;
  margin-top: 5px;
  height: 4px;

}
.insideline.bottom {
  width: 28px;
  margin-top: 6px;
  height: 4px;
}
.linecontainer {
  width: 35px;
  height: 25px;
  margin: 0 auto;
  position: relative;
  left: -7px;
}
.navbar:hover {
  background-color:#fff;

}
.nav-link:hover {
  border-bottom: 2px solid black;
  overflow-: hidden;
}

.navbar:hover .nav-link {
  color: black;
  font-weight: 600;
}
#myvideo {




    height: auto !important;

    width: 100% !important;




}
#videoholder {
  margin: 0;
}
.tablefirst {
  width: 85%;
  margin: 0 auto;
}
.tablesecond {
  width: 85%;
  margin: 0 auto;
}
.w3-modal-content {
  width: 500px;
  height: auto;
}
.table {
  width: 85%;
  margin: 0 auto;
}
#last {
  margin: 0;
  padding: 0;
  margin-bottom: 0 important!;
}
.para {
  justify-content: center;
}
#topheader {
  padding-top: 15px;
  color:#A0A0A0;
  font-size: 4em;
  text-align: center;
  font-family: fantasy,copperplate;


    overflow-x: hidden;
    overflow-y: hidden;
    text-shadow:5px 5px 3px #36454F;
  }
.tom {

  animation: slideleft 1.3s linear forwards;

}

@keyframes slideleft {

  0% {
    transform: translateX(80px);
    font-size: 20px;
    opacity: 0;

  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    font-size: 80px;


  }



}

.heytom {
  animation: slideleftpara 1.3s linear forwards;

}
@keyframes slideleftpara {
  0% {
    transform: translateX(80px);

    opacity: 0;

  }
  100% {
    transform: translateX(0px);
    opacity: 1;



  }

}
p.heytom {
  animation-delay: 0.9s;
  opacity: 0;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-size: 1.3em;
  color: #A0A0A0;
}


.what {
  background-color:#A0A0A0;
  margin-bottom: 0;

}
.what h1 {
  font-size: 3em;
  text-align: center;
  font-family: fantasy,copperplate;
  text-shadow: 4px 4px 4px #36454F;
  color: black;

}
caption {
  font-size: 40px;
  font-weight: 300;
  color:#A0A0A0;
  text-shadow: 3px 3px 5px #818589;
}
#para {
  background-image: linear-gradient(to bottom right,black,grey);
}
.btntop {
  display: block;
  background-color: #A0A0A0;
  border-top: 1px solid grey;
  box-shadow:  3px 3px 5px #818589;
}
.btntop:hover {
  background-color: #F8F8F8;
}
.regbutton {
  display: block;
  background-color: #A0A0A0;

  box-shadow:  3px 3px 5px #818589;
  font-weight: bold;
  text-decoration: none;
  text-decoration-style: dashed;

}

.partcipants {
  margin-bottom: 30px;
}


  border-top: 40px solid #f00;
  left: 50%;
   margin-left: -50px;
   width: 0;
   height: 0;
}




<style>
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Mr+Dafoe&family=Oswald:wght@200;700&family=Six+Caps&display=swap');
</style>
